<p>Hello <%= @current_user.name %> </p>
 <%= button "Logout", to: auth_path(@conn, :delete), method: :delete, class: "btn btn-danger" %>
<div id="elm-app"></div>
<script>window.socketUrl = '<%= SwarmWeb.LayoutView.socket_url %>';</script>

