@import "bootstrap";

.create-dataset {
  .source-btn {
    background-color: #f5f5f5;
    padding: 1rem;
    font-size: 2rem;
    border: 1px solid #f5f5f5;

    &:hover {
      background-color: darken(#f5f5f5, 10%);
      border: 1px solid #aaa;
      cursor: pointer;
    }

    &.active {
      background-color: darken(#f5f5f5, 10%);
      border: 1px solid #aaa;
    }
  }
}
